# Build artifacts and editor cruft.
/build/
*.o
*.obj
*.pem
*.key
compile_commands.json
.cache/
.vscode/
.idea/
.DS_Store

#not public yet
vps
#only needed for tests
DockerFile
# Not ready yet
README.md
